**hello** there
>$ a*b/9$

In [1]:
print("hello")

hello

https://google.com

https://google.com

In [2]:
for i in range(0,20,3):
    print(i)

0
3
6
9
12
15
18

In [3]:
squares=[]
for i in range(11):
    print(i*i)

0
1
4
9
16
25
36
49
64
81
100

In [4]:
squares=[i**2 for i in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
squares=[i**2 for i in range(11) if i%4==0]
squares

[0, 16, 64]

In [6]:
new_dict = {i:i**2 for i in range(11)}
new_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [7]:
sum(i**2 for i in range(4))

14

In [8]:
counting=[j for i in range(1,5) for j in range(1,i+1)]
counting

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4]

In [9]:
student_details=[("ashin","thankachan","june 4","trivandrum" ),
                 ("diya","joseph","April 14","kollam"),
                 ("flora","manoj","sep 5","trivandrum"),
                 ("abhijith","Gopan","march 19", "kottayam")]
student_details

[('ashin', 'thankachan', 'june 4', 'trivandrum'),
 ('diya', 'joseph', 'April 14', 'kollam'),
 ('flora', 'manoj', 'sep 5', 'trivandrum'),
 ('abhijith', 'Gopan', 'march 19', 'kottayam')]

In [10]:
student_details[0]

('ashin', 'thankachan', 'june 4', 'trivandrum')

In [11]:
student_details[0][0]

'ashin'

In [12]:
[stu for stu in student_details if stu[3]=="trivandrum"]

[('ashin', 'thankachan', 'june 4', 'trivandrum'),
 ('flora', 'manoj', 'sep 5', 'trivandrum')]

In [13]:
import collections
collect_type = collections.namedtuple("new_data",["name","age",'place'])
one=collect_type("asha",12,"ktym")
one

new_data(name='asha', age=12, place='ktym')

In [14]:
collect_type(age=12, place='ktym' ,name='bahani' )

new_data(name='bahani', age=12, place='ktym')

In [15]:
one.name

'asha'

In [16]:
newfile=[]
for line in open(r"C:\Users\anuaq\OneDrive\Desktop\text.txt",'r'):
    newfile.append(line)

In [17]:
newfile

['We can create new sequences using a given python sequence. This is \n',
 'called comprehension. It basically a way of writing a concise code \n',
 'block to generate a sequence which can be a list, dictionary, set \n',
 'or a generator by using another sequence. It may involve multiple \n',
 'steps of conversion between different types \n',
 'of sequences.New generators can be created from the existing list.\n',
 ' These generators are memory efficient as they allocate memory \n',
 'as the items are generated instead of allocating it at the beginning.']

In [18]:
string="We can create new sequences using a given python sequence. This is called comprehension. It basically a way of writing a concise code"
atrarr=[str.lower() for str in string.split()]
sorted(set(atrarr))
## set() is used to get the items without duplication.

['a',
 'basically',
 'called',
 'can',
 'code',
 'comprehension.',
 'concise',
 'create',
 'given',
 'is',
 'it',
 'new',
 'of',
 'python',
 'sequence.',
 'sequences',
 'this',
 'using',
 'way',
 'we',
 'writing']

In [24]:
import numpy as np
x=np.array([.2,3,4,5,6,7,8,9,10])
x.mean()

5.800000000000001